<div class="banner">
    <div class="row">
        <div class="small-centered columns">
            <div class="banner-info text-center delay animated fadeIn">
                <h1>Restaurant Name</h1>
                <p>A simple tagline or restaurant slogan....</p>
            </div>
        </div>
    </div>
</div>
<div class="top-grids">
    <div class="row">
        <div class="small-7 columns">
            <h3 class="featured-heading">An attractive heading</h3>
            <div class="featured-heading-info">
                <p>
                    Bacon ipsum dolor sit amet duis excepteur labore esse porchetta bresaola aliquip ground round sint flank meatloaf cillum meatball. Exercitation meatball bresaola bacon. Ea sausage ham hock, hamburger pork bacon beef. Sed filet mignon chicken dolore pig pork belly t-bone turkey short loin pork chuck short ribs commodo.
                </p>
                <p>
                    Dolore sausage adipisicing chuck, short ribs ea strip steak est bresaola quis landjaeger rump id et. Quis minim ham, brisket veniam ground round ea enim spare ribs velit chicken tempor tongue est. Aute short ribs cow, bresaola minim ut aliquip irure ribeye kevin elit pork loin beef ribs salami. Venison rump velit andouille nulla mollit ullamco, tempor fugiat laborum exercitation. Deserunt bacon ad beef, spare ribs pork belly andouille enim.
                </p>    
            </div>
            
        </div>
        <div class="small-4 columns">

            <ul class="clearing-thumbs small-block-grid-1" data-clearing>
                <li>
                    <img src="/media/images/food3.jpg" data-caption="food 3" alt="slide 3" />
                </li>
                <li>
                    <img src="/media/images/food1.jpg" data-caption="food 1" alt="slide 1" />
                </li>
                <li>
                    <img src="/media/images/food2.jpg" data-caption="food 2" alt="slide 2" />
                </li>
            </ul>

        </div>
    </div>

</div>

<div class="tag-line">
    <div class="row">
        <div class="small-12 columns"></div>
    </div>
</div>